<footer class="km1-footer">
  <div class="km1-container km1-footer__inner">
    <p>© <span data-year></span> ITSM – Doniman F. Peña Parra</p>
    <ul class="km1-footer__list">
      <li><a class="km1-link km1-footer__link" href="/impressum.html">Impressum</a></li>
      <li><a class="km1-link km1-footer__link" href="/datenschutz.html">Datenschutz</a></li>
      <li><a class="km1-link km1-footer__link" href="/barrierefreiheit.html">Barrierefreiheit</a></li>
    </ul>
    <span class="km1-footer__line"></span>
  </div>
</footer>
